# =========================
# Node.js
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# TypeScript
# =========================
dist/
*.tsbuildinfo

# =========================
# Environment variables
# =========================
.env
.env.local
.env.development
.env.production

# =========================
# Docker
# =========================
.dockerignore

# =========================
# Database / volumes
# =========================
mysql_data/
data/
db-data/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# IDEs
# =========================
.vscode/
!.vscode/extensions.json
.idea/
*.iml

# =========================
# Tests / coverage
# =========================
coverage/

# =========================
# Temporary files
# =========================
tmp/
temp/
